.contact {
  display: flex;
  flex-direction: column;
  padding: 4rem;
  background-color: #191c24;
  height: 100vh;
  width: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.contact h1 {
  text-align: center;
  color: #fff;
  font-size: 5rem;
  margin-bottom: 3rem;
  width: 80%;
}

.form-p {
  text-align: center;
  font-size: 2rem;
  margin-top: 1rem;
}

.form-submit {
  background: linear-gradient(
    90deg,
    rgb(39, 176, 255) 0%,
    rgb(0, 232, 236) 100%
  );
}

.form-submit:hover {
  cursor: pointer;
  color: #f2f2f0;
}

input {
  width: 100%;
  margin-bottom: 0.5rem;
  font-size: 12pt;
  padding-left: 10px;
  outline: none;
  border-radius: 3px;
  border: none;
  padding: 7px 10px;
}

textarea {
  height: 15em;
  width: 50vw;
  padding: 7px 10px;
  font-size: 12pt;
  
}

div[role='alert'] {
  color: red;
  margin-top: 1em;
}

.message-chars-left {
  display:none;
  width: 600px;
  margin: auto;
  text-align: left;
}

.status-message {
  opacity: 0
}

.success {
  opacity: 1;
  color: green
}

.failure {
  opacity: 1;
  color: red
}